@import "tailwindcss";

@theme {
  --color-eco-green: #4caf50;
  --color-eco-dark: #2e3b32;
  --color-eco-light: #f4f9f5;

  --font-sans: "DM Sans", sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--color-eco-light);
  color: var(--color-eco-dark);
  font-family: var(--font-sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
}
